@import "../variables";

.github-icon,
.cli-icon,
.gift-icon,
.copied-icon,
.cloud-icon,
.heart-icon,
.example-icon {
    margin-right: 10px;
}

.cloud-icon,
.heart-icon,
.example-icon {
    stroke: $text-color;
}
.dark {
    .cloud-icon,
    .heart-icon,
    .example-icon {
        stroke: $text-color-dark;
    }
}
