@import "../variables";
.opensource-div {
    width: 100%;
    font-size: 20px;
    padding: 2rem 0rem;
    border-bottom: 1px solid $border-color-light;
    h2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    p {
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .button-link {
        color: #fff;
        display: inline-flex;
        align-items: center;
        padding: 14px 20px;
        background: $button-background-light;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 20px;
        margin: 0 0 1rem 0;
        border-radius: 4px;
        border: 0;
    }
}
.dark {
    .opensource-div {
        border-bottom: 1px solid $border-color-dark;
        .button-link {
            background: $button-background-dark !important;
        }
    }
}
