@import "../variables.scss";

.example-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color-light;

    h2 {
        width: 100%;
    }
    .loading-image-div {
        width: 100%;
        overflow: hidden;
    }
    .visible {
        visibility: visible;
        width: max-content;
        height: 350px;
        opacity: 1;
    }
    .hidden {
        height: 0;
        width: 0;
        opacity: 0;
    }
    .next-button {
        color: white;
        margin-left: auto;
        margin-right: auto;
        background-color: $button-background-light;
        border: 0 solid;
        margin: 1rem;
        width: 200px;
        border-radius: 20px;
        padding: 1rem;
        position: relative;
    }

    .main-example {
        display: flex;
        visibility: collapse;
        width: 100%;
        flex-direction: column;
        transition: visibility ease-out 2s, opacity ease-out 2s;
        overflow-x: hidden;
        overflow-y: hidden;
        .example-child {
            flex: 50%;
        }

        pre {
            code[class*="language-"] {
                font-size: 18px;
                border-top: hidden;
            }
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            overflow-x: auto;
            overflow-y: auto;
        }
        .img-div {
            display: flex;
            align-items: center;
            width: 100%;
            img {
                width: inherit;
                height: auto;
            }
            video {
                width: inherit;
                height: auto;
            }
        }
    }
}
.dark {
    .next-button {
        background-color: $button-background-dark !important;
    }
    .next-button:before,
    .next-button:after {
        border-color: $secondary-color-dark !important;
    }
    .example-div {
        border-bottom: 1px solid $border-color-dark;
    }
}

@media (min-width: $tab-screens) {
    .example-div {
        padding: 2rem !important;
    }
    .main-example {
        gap: 20px;
        flex-direction: row !important;
    }
    .img-div {
        img {
            padding: 1rem;
        }
        video {
            padding: 1rem;
        }
    }
    code[class*="language-"] {
        font-size: 22px !important;
        border-top: hidden !important;
    }
    .next-button {
        margin: 2rem !important;
        padding: 0.5rem !important;
        width: 400px !important;
    }
    .next-button:before,
    .next-button:after {
        border-color: $secondary-color-light;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        border-style: solid;
        border-width: 0;
        content: "";
        height: 24px;
        position: absolute;
        width: 24px;
    }
    .next-button:before {
        border-left-width: 2px;
        border-top-width: 2px;
        left: -5px;
        top: -5px;
    }

    .next-button:after {
        border-bottom-width: 2px;
        border-right-width: 2px;
        bottom: -5px;
        right: -5px;
    }
    .next-button:hover:before,
    .next-button:hover:after {
        height: 100%;
        width: 100%;
    }
    .loading-image-div {
        height: 360px !important;
    }
}

@media (min-width: $very-large-screens) {
    .visible {
        height: 500px !important;
    }
    .loading-image-div {
        height: 500px !important;
    }
}
