@import "../variables";
.main-header {
    top: 0px;
    position: sticky;
    background-color: $navbar-background-light;

    .main-header-div {
        padding: 5px 1rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        min-height: 70px;
        display: flex;
        flex-direction: column;
        .logo-and-links-div {
            display: flex;
            align-items: center;
            width: 100%;
            .manim-logo-a {
                color: #fff;
                padding: 0.5rem;
                font-size: 1.25rem;
                text-decoration: none;
                background-color: transparent;
            }
            .nav-items {
                display: initial;
                padding-right: 0.5rem;
                nav {
                    display: block;
                    ul {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        display: flex;
                        li {
                            color: $navbar-links-color;
                            font-size: 1.1rem;
                            font-weight: 700;
                            a,
                            div {
                                display: inline-block;
                                text-decoration: none;
                                color: inherit;
                                padding: 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
            .menu-btn {
                display: none;
                margin-left: auto;
                background-color: transparent;
                padding: 8px 6.5px;
                border: 1px solid #3b2c25;
                border-radius: 10px;
                cursor: pointer;
                transition: left .2s;
                div {
                    background-color: WHITE;
                    height: 3px;
                    width: 24px;
                    border-radius: 3px;
                }
                .line-top, .line-btm {
                    transition: background-color .2s, transform .5s;
                    margin: 1px 0;
                }
                .line-mid {
                    opacity: 1;
                    margin: 5px 0;
                    transition: opacity .2s;
                }
            }
        }

        @media (max-width: $mobile-screens) {
            .logo-and-links-div {
                .menu-btn {
                    display: block;
                }
                .nav-items {
                    position: absolute;
                    top: 100%;
                    right: -300px;
                    background-color: $navbar-background-light;
                    padding: 0 0 10px 10px;
                    border-bottom: 1px solid #3b2c25;
                    border-left: 1px solid #3b2c25;
                    border-bottom-left-radius: 10px;
                    width: 300px;
                    box-shadow: -8px 8px 8px -8px rgba(0, 0, 0, 0.2);
                    transition: right .2s;
                    ul {
                        flex-direction: column;
                        a {
                            width: 100%;
                        }
                    }
                }
                &.mobile-menu-open {
                    .nav-items {
                        display: block;
                        right: 0;
                    }
                    .menu-btn {
                        .line-top, .line-btm {
                            background-color: rgb(224, 122, 95);
                        }
                        .line-top {
                            transform: translateY(8px) rotate(-45deg);
                        }
                        .line-mid {
                            opacity: 0;
                        }
                        .line-btm {
                            transform: translateY(-8px) rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}

.dark {
    .main-header {
        background-color: $navbar-background-dark;
        .logo-and-links-div {
            .menu-btn, .nav-items {
                border-color: rgb(2, 39, 78);
            }
        }
        @media (max-width: $mobile-screens) {
            .logo-and-links-div {
                .nav-items {
                    background-color: $navbar-background-dark;
                }
            }
        }
    }
    
}
