@import "../variables";

.theme-toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: $navbar-links-color;
    border: 1px solid $theme-toggler-border-light;
    border-radius: 10px;
    padding: 6.5px;
    line-height: inherit;
    background-color: transparent;
    background-image: none;
}
.theme-toggle-button:hover {
    background: rgba(255, 255, 255, 0.08);
}
.dark {
    .theme-toggle-button {
        border: 1px solid rgb(2, 39, 78);
    }
}
