$body-bg-light: #ece6e2;
$primary-color: #007bff;
$text-muted-color: #6c757d;
$mobile-max-width: 992px;
$navbar-background-light: #523d33;
$text-color: #212529;

$body-bg-dark: #171c28;
$navbar-background-dark: #0c101b;
$primary-color-dark: #0bdcef;
$text-muted-color-dark: #c8c8c8;

$navbar-links-color: #ffffff;