$body-bg-light: #ffffff;
$primary-color: #007bff;
$secondary-color-light: #70615b;
$text-muted-color: #6c757d;
$navbar-background-light: #525893;
$text-color: #212529;
$welcome-title-light: rgb(39, 33, 33);
$welcome-text-light: #635e69;
$footer-bg-light: #525893;
$button-background-light: #525893;
$theme-toggler-border-light: #3b2c25;
$pip-install-manim-button-bg-light: #81b29a;
$border-color-light: #171c28;

$body-bg-dark: #171c28;
$navbar-background-dark: #0c101b;
$primary-color-dark: #0bdcef;
$text-muted-color-dark: #c8c8c8;
$text-color-dark: #ffffff;
$welcome-title-dark: rgb(245, 239, 239);
$welcome-text-dark: rgb(221, 195, 195);
$footer-bg-dark: #0c101b;
$button-background-dark: #0c101b;
$secondary-color-dark: #66a8bd;
$pip-install-manim-button-bg-dark: #2b3133;
$border-color-dark: #ece6e2;

// since we can't get solarized dark theme
$code-background-dark: #002b36;
$code-text-dark: #a7c0c7;

$navbar-links-color: #ffffff;

// media queries
$mobile-screens: 576px;
$tab-screens: 768px;
$large-screens: 992px;
$very-large-screens: 1500px;
