body {
  background-color: #ece6e2;
}
:root {
  --loader-width: 70px;
  --loader-height: 70px;
  --loader-color-primary: #27ae60;
  --loader-color-secondary: #eee;
  --line-width: 3px;
  --animation-duration: 2s;
  --loader-initial-scale: 0.1;
}
.loader,
.loader:before,
.loader:after {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes block-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader.block-spin {
  height: var(--loader-height, 100px);
  width: var(--loader-width, 100px);
  position: relative;
  border-radius: 60px;
  border: var(--line-width, 4px) solid;
  color: var(--loader-color-primary, #33f);
  border-left-color: transparent;
  border-top-color: transparent;
  animation: block-spin var(--animation-duration, 0.8s) linear infinite;
}

.loader.loader.block-spin:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: var(--loader-offset, 50%);
  left: var(--loader-offset, 50%);
  border-radius: 60px;
  border: var(--line-width, 4px) solid;
  color: var(--loader-color-primary, #33f);
  margin-top: -15px;
  margin-left: -15px;
}
.hover-card{
  transition: transform 0.2s ease-out;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.summary{
  height:75px;
  overflow: hidden;
}
.hover-card:hover {
   transform: scale(1.07);
}
.archived {
  background-color:#cccccc
}
